$main-color: #d2042d; //red
$lighter-main-color: #04d242; //green
$side-margin: 50px;
body {
  text-align: center;
  margin-top: 5px;
  margin-left: $side-margin;
  margin-right: $side-margin;
}
.title_of_page {
  color: $main-color;
}
.add-button {
  background-color: $lighter-main-color;
}
.delete {
  background-color: $main-color;
}
